<div class="container">
  <div class="row">
    <div  class="col" *ngFor = "let brand of brands">
      <div class="card" style="width: 18rem;" >
        <img src="../../../assets/defaultBrand.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{brand.brandName}}</h2>
          
          <a (click) = currentBrand(brand) routerLink = "/cars/brand/{{brand.brandId}}" class="btn btn-primary">Cars</a>
        </div>
      </div>
      <br/>
    </div>
   
  </div>
</div>
