<div class="container">
    <div class="row">
      <div class="col" *ngFor = "let car of cars">
        <div class="card" style="width: 18rem;" >
          <img src="../../../assets/car.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">{{car.carName}}</h2>
            <p class="card-text">${{car.dailyPrice}}</p>
            <a  class="btn btn-primary">Car Details</a>
          </div>
        </div>
        <br/>
      </div>
     
    </div>
  </div>
